html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: fixed;
    background-color: black;
}

#scoreCanvas {
    width: 50px;
    position: static;
    left: auto;
    top: auto;
    height: 50px;
    margin: auto;
    padding: 0;
    background-color: red;
}

#renderCanvas {
    width: 50%;
    height: 80%;
    margin: auto;
    padding: 0;
    display: block;
}