html, body , #wrapper {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: fixed;
    background-color: black;
}

/* div {
    outline: solid 1px yellow;
} */

h1, p {
    color: wheat;
    font-family: 'Ubuntu Light', 'Trebuchet MS', serif;
}

#renderCanvasDiv {
    position: absolute;
    background-color: blue; 
    float: right;
    width: 49.95%;
    height: 80%;
    margin-left: 25%;
    display: block;
}

#scoreCanvasDiv {
    display: block;
    float: left;
    width: 24.95%;
    height: 100%;
    background-color: red;
}

#instructCanvasDiv {
    display: block;
    float: right;
    width: 24.95%;
    height: 100%;
    background-color: green;
}

 #renderCanvas {
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0;
    display: block;
}