/*
*   
*
*
*/

.view {
    background: url("../images/headerImage.jpg")no-repeat center center;
    background-size: cover;
}

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #3949AB;
}

html, body, header,.view {
    height: 100%;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #3949AB;
    }
}