/*
*   
*
*
*/

div {
    outline: solid 1px firebrick;
}

html {
    margin: 0;
    padding: 0;
    border: none;
}

header {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    background-image: url("../images/materialHeaderImage.jpg");
}

h1 {
   text-align: center;
}

body{
     background-image:url("../images/tiled web background 1.png");
}
 
footer{
       clear:both;
       position:relative;
       position:fixed;
       bottom:0;
}