/*
*
*
*
*/

.view {
    background: url("../images/headerImage2.jpg")no-repeat center center;
    z-index: -2;
    background-size: cover;
}

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #3949AB;
}

html, body, header,.view {
    height: 100%;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

@media only screen and (max-width: 992px) {
    .navbar {
        background-color: #3949AB;
    }
    main {
        margin-top: 40px;
    }
}
