h1 {
    font-size: 36pt;
    font-weight: bold;
}

h2 {
    font-size: 30pt;
}

p {
    font-size: 16pt;
    line-height: 1.25;
}

body {
    background-image: url(../images/folk-pattern.png);
}

.title {
    background-color: chocolate;
    color: white;
    width: 375px;
    text-align: center;
    padding: 20px 5px 20px 5px;
    margin: 10px;
}

.instructionsDiv {
    background-color: bisque;
    color: green;
    width: 550px;
    padding: 20px 5px 20px 5px;
    margin: 10px;
}

.randomNumberDiv {
    background-color: mediumseagreen;
    color: blueviolet;
    width: 250px;
    height: 100px;
    padding: 20px 5px 20px 5px;
    margin: 10px;
    float: left;
}

.winsAndLossesDiv {
    background-color: aqua;
    color: green;
    width: fit-content;
    height: 100px;
    padding: 20px 5px 20px 5px;
    margin: 10px;
    float: left;
}

.gemContainer {
    padding: 20px 5px 20px 5px;
    margin: 10px 10px 10px 5px;
    width: fit-content;
}

.gemImage {
    height: 100px;
    width: 100px;
    padding: 1px;
    margin-right: 5px;
    border: 1px solid black;
}

.totalScoreText {
    height: fit-content;
    width: 275px;
    background-color: teal;
    color: white;
    padding: 5px 5px 5px 5px;
    margin: 10px;
}

.totalScoreNum {
    height: 150px;
    width: 275px;
    background-color: teal;
    color: white;
    padding: 5px 5px 5px 5px;
    margin: 10px;
}

