.profile-timeline {
  overflow: hidden;
  position: relative;
}
.profile-timeline:after,
.profile-timeline:before {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}
.profile-timeline:before {
  content: "";
  width: 3px;
  height: 100%;
  background: #d6d5d5;
  position: absolute;
  top: 30px;
  left: 50%;
}
.profile-timeline .timeline {
  width: 50%;
  float: left;
  padding-right: 30px;
  position: relative;
}
.profile-timeline .timeline-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #fff;
  border: 3px solid #fe6847;
  position: absolute;
  top: 5.5%;
  right: -17.5px;
}
.profile-timeline .year {
  display: block;
  padding: 10px;
  margin: 0;
  font-size: 30px;
  color: #fff;
  border-radius: 0 50px 50px 0;
  background: #fe6847;
  text-align: center;
  position: relative;
}
.profile-timeline .year:before {
  content: "";
  border-top: 35px solid #f59c8b;
  border-left: 35px solid transparent;
  position: absolute;
  bottom: -35px;
  left: 0;
}
.profile-timeline .timeline-content {
  padding: 30px 20px;
  margin: 0 45px 0 35px;
  background: #f2f2f2;
}
.profile-timeline .title {
  font-size: 19px;
  font-weight: 700;
  color: #504f54;
  margin: 0 0 10px;
}
.profile-timeline .description {
  font-size: 14px;
  color: #7d7b7b;
  margin: 0;
}
.profile-timeline .timeline:nth-child(2n) {
  padding: 0 0 100px 30px;
}
.profile-timeline .timeline:nth-child(2n) .timeline-icon {
  right: auto;
  left: -14.5px;
}
.profile-timeline .timeline:nth-child(2n) .year {
  border-radius: 50px 0 0 50px;
  background: #7eda99;
}
.profile-timeline .timeline:nth-child(2n) .year:before {
  border-left: none;
  border-right: 35px solid transparent;
  left: auto;
  right: 0;
}
.profile-timeline .timeline:nth-child(2n) .timeline-content {
  text-align: right;
  margin: 0 35px 0 45px;
}
.profile-timeline .timeline:nth-child(2) {
  margin-top: 170px;
}
.profile-timeline .timeline:nth-child(odd) {
  margin: -175px 0 0;
}
.profile-timeline .timeline:nth-child(even) {
  margin-bottom: 80px;
}
.profile-timeline .timeline:first-child,
.profile-timeline .timeline:last-child:nth-child(even) {
  margin: 0;
}
.profile-timeline .timeline:nth-child(2n) .timeline-icon {
  border-color: #7eda99;
}
.profile-timeline .timeline:nth-child(2n) .year:before {
  border-top-color: #92efad;
}
.profile-timeline .timeline:nth-child(3n) .timeline-icon {
  border-color: #8a5ec1;
}
.profile-timeline .timeline:nth-child(3n) .year {
  background: #8a5ec1;
}
.profile-timeline .timeline:nth-child(3n) .year:before {
  border-top-color: #a381cf;
}
.profile-timeline .timeline:nth-child(4n) .timeline-icon {
  border-color: #f98d9c;
}
.profile-timeline .timeline:nth-child(4n) .year {
  background: #f98d9c;
}
.profile-timeline .timeline:nth-child(4n) .year:before {
  border-top-color: #f2aab3;
}
@media only screen and (max-width: 767px) {
  .profile-timeline {
    overflow: visible;
  }
  .profile-timeline:before {
    top: 0;
    left: 0;
  }
  .profile-timeline .timeline:nth-child(2),
  .profile-timeline .timeline:nth-child(even),
  .profile-timeline .timeline:nth-child(odd) {
    margin: 0;
  }
  .profile-timeline .timeline {
    width: 100%;
    float: none;
    padding: 0 0 0 30px;
    margin-bottom: 20px !important;
  }
  .profile-timeline .timeline:last-child {
    margin: 0 !important;
  }
  .profile-timeline .timeline-icon {
    right: auto;
    left: -14.5px;
  }
  .profile-timeline .year {
    border-radius: 50px 0 0 50px;
  }
  .profile-timeline .year:before {
    border-left: none;
    border-right: 35px solid transparent;
    left: auto;
    right: 0;
  }
  .profile-timeline .timeline-content {
    margin: 0 35px 0 45px;
  }
}
